
<html>
    <head>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    </head>

    <body>

    <h1>Hello login</h1>

    <form action="/login" method="post">
        <h3>Enter login and password</h3>
        Username:
        <input id="txtUsername" name="txtUsername" type="text" /><br />
        <input id="txtPassword" name="txtPassword" type="text" /><br />
        <input type="submit" />
    </form>

    </body>  
</html>