
<html>
    <head>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    </head>

    <body>

    <h1>Hello playerAdmin</h1>

    <form action="/playerAdmin" method="post">
        <h3>Enter new values for db</h3>
        ID: <input id="txtID" name="txtID" type="text" /><br>
        First Name: <input id="txtFirst" name="txtFirst" type="text" /><br>
        Last Name: <input id="txtLast" name="txtLast" type="text" /><br>
        Sport: <input id="txtSport" name="txtSport" type="text" /><br>
        <input type="submit" />
    </form>

    </body>  
</html>