<form action="/playerAdmin" method="post">
    <h3>Enter new values for db</h3>
    ID: <input id="txtID" name="txtID" type="text" /><br>
    ID: <input id="txtFirst" name="txtFirst" type="text" /><br>
    ID: <input id="txtLast" name="txtLast" type="text" /><br>
    ID: <input id="txtSport" name="txtSport" type="text" /><br>
    <input type="submit" />
    </form>

    
    