
<html>
    <head>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    </head>

    <body>

    <h1>Hello upload</h1>

    Please specify a file or a set of files:<br>
    <form action="/upload" method="post" enctype="multipart/form-data">
    <input type='file' name='fileUpload'>
    <input type="submit" />
    </form>

    </body>  
</html>